* {
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
}

.menu {
    color: black;
    height: auto;
    background-color: rgb(141, 141, 141);
    border: solid 3px rgb(0, 0, 0);
    font-size: 18px;
    padding-top: 50px;
    margin: 20px;
    text-align: justify;
    border-radius: 5px;
}

.minibrand {
    font-size: 25px;
    font-weight: bold;
}

#navbar {
    height: 100px;
    text-align: center;
    border: none;
    background-color: black;
    color: #f5e2e9;
}

.container {
    background-color: grey;
}

.navbar-brand {
    font-size: 30px;
}

.glyphicon {
    font-size: 30px;
    color: #ffffff;
}

#myNavbar ul li a {
    color: #ffffff;
}

.minibrand {
    background-color: lightcoral;
    position: absolute;
    top: 25px;
    left: 50px;
    width: 150px;
    height: 40px;
    padding-top: 7px;
    text-align: center;
    border-radius: 9px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 18px;
}

span p {
    padding: 15px;
}